altair
anvil-uplink
appopener
asttokens
attrs
Automat
backcall
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
chatbot
ChatterBot
chatterbot-corpus
click
colorama
comm
comtypes
constantly
contourpy
cryptography
cssselect
cycler
debugpy
decorator
defusedxml
distlib
exceptiongroup
executing
filelock
Flask
fonttools
future
gitdb
GitPython
google
h11
hyperlink
ibm-cloud-sdk-core
ibm-watson
idna
incremental
ipykernel
ipython
itemadapter
itemloaders
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
labelImg
lxml
markdown-it-py
MarkupSafe
mathparse
matplotlib
matplotlib-inline
mdurl
MouseInfo
nest-asyncio
networkx
nltk
numpy
opencv-python
outcome
packaging
pandas
parsel
parso
pickleshare
Pillow
Pint
platformdirs
plotly
prompt-toolkit
Protego
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pycparser
pydeck
PyDispatcher
PyGetWindow
Pygments
PyJWT
pymongo
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
pypiwin32
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
PyRect
PyScreeze
PySocks
python-dateutil
python-dotenv
pyttsx3
pytweening
pytz
pywhatkit
PyYAML
pyzmq
qt5-applications
qt5-tools
queuelib
referencing
regex
requests
requests-file
rich
rpds-py
scikit-learn
scipy
Scrapy
seaborn
selenium
service-identity
six
smmap
sniffio
sortedcontainers
soupsieve
SpeechRecognition
SQLAlchemy
stack-data
streamlit
tenacity
threadpoolctl
tldextract
toml
toolz
tornado
tqdm
traitlets
trio
trio-websocket
Twisted
twisted-iocpsupport
typing_extensions
tzdata
urllib3
virtualenv
w3lib
watchdog
wcwidth
websocket-client
Werkzeug
wikipedia
ws4py
wsproto
zope.interface
